# Eclipse Workspace 정보
/.metadata/

# MacOS 시스템 파일
.DS_Store

# Eclipse IDE
*.class         # 컴파일된 바이트코드
bin/            # 클래스 파일 저장 폴더
.settings/      # 프로젝트별 설정 정보
.project        # 이클립스 프로젝트 정의 파일
.classpath      # 이클립스 클래스 경로 설정 파일

# IntelliJ IDEA
.idea/*         # 프로젝트 설정 폴더
*.iml           # 모듈 설정 파일

# VSCode
.vscode/

# 로그 파일
*.log

# 기타 컴파일/배포 파일
*.war
*.jar

# 외부 경로까지 추적되는 문제 방지 (루트 기준으로 안전하게!)
/this-java/